.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  min-height: 100vh;
}

.showButton{
  padding: 10px;
  margin-bottom: 100px;
}